.table {
  max-width: 100%;
  margin: 20px 50px;
  padding: 10px;
  background: white;
  border-radius: 5px;

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  table {
    width: 100%;
  }
}
